<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css"></head>
<body>
<h1>Access Denied Page</h1>
<p>You are not authorized to access this resource.</p>
<p>
    <a th:href="@{/}">Home</a>
</p>
</body>
</html>