<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
<h1>Edit Profile Details</h1>
<form th:action="@{/customers/edit}" th:object="${user}" method="post">

    <p hidden>
        E-mail: <input hidden type="text" th:field="*{username}"/>
    </p>

    <p>
        Name: <input type="text" th:field="*{name}"/>
    </p>

    <p>
        Phone: <input type="text" th:field="*{phone}"/>
    </p>

    <p>
        Current Password: <input type="password" th:field="*{password}"/>
    </p>

    <p>
        New Password: <input type="password" th:field="*{newPassword}"/>
    </p>

    <input type="submit" value="Edit"/>
</form>
<p sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{'/admin/customers/delete/' + ${user.getUsername()}}"
       onclick="return confirm('Are you sure you want to delete this user?');">Delete</a>
</p>
<p>
    <a th:href="@{/}">Back</a>
</p>
</body>
</html>