<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h1>Password Reset</h1>
<i th:if="${exists != null}" th:text="${exists}" class="error"/>
<form th:action="@{/customers/forgot-password}" th:object="${user}" method="post">

    <p>
        Enter Your Email: <input type="text" th:field="*{username}"/>
    </p>


    <input type="submit" value="Send"/>
</form>
<p>
    <a th:href="@{/}">Back</a>
</p>
</body>
</html>