<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">

</head>


<body class = "login-body">
<header>
    <img class = "logo-img" src="http://pluspng.com/img-png/auto-shop-png-auto-repair-services-1024.png" alt="logo">
    <h1 class="page-title">Welcome to Car Service</h1>
</header>

<form th:action="@{/authenticate}" method="post">
    <div class="login-form">
        <i th:if="${param.error}" class="error">Wrong email or password.</i>
        <i th:if="${param.logout}">You have successfully logged out.</i>
        <div>
            <div>
                <label>Email: </label>
                <input class="user-field" type="text" id="username" name="username" placeholder="Enter your email..."/>
            </div>
            <br>
            <div>
                <label>Password: </label>
                <input class="pass-field" type="password" id="password" name="password" placeholder="Enter your password..."/>
            </div>
            <input class="login-btn" type="submit" value="Login"/>
        </div>
        <a th:href="@{/customers/forgot-password}"><span>Forgot Password?</span></a>
    </div>
</form>
</body>
</html>
