<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Confirmation</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Registration Confirmation</h1>
<p>You have successfully registered a new user!</p>
<p>Password was sent to their email.</p>

<p>
    <a th:href="@{/}">Back</a>
</p>
</body>
</html>