<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <style>
        .error {
            color: red;
        }
    </style>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Register Page</h1>
<i th:if="${error != null}" th:text="${error}" class="error"/>
<form action="#" th:action="@{/admin/register}" th:object="${user}" method="post">
    <p>
        Email: <input type="email" th:field="*{username}"/>
    </p>
    <p>
        Name: <input type="text" th:field="*{name}"/>
    </p>

    <p>
        Phone: <input type="text" th:field="*{phone}"/>
    </p>
    <input type="submit" value="Register"/>
</form>
<p>
    <a th:href="@{/}">Back</a>
</p>
</body>
</html>
