<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Service Management</title>
    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <input class="add-service-btn" id="add-new-service" type="submit" value="Add New Service"/>
    <a th:href="@{/admin}" class="ser-manag-back">Back</a>
</div>
<div class="add-service-blank" style="display: none">
    <div>
        <label th:text="#{add.services.name}">Name</label>
        <input class="add-service-field-name" type="text" id="service-name"/>
    </div>
    <div>
        <label th:text="#{add.services.price}">Price</label>
        <input class="add-service-field-price" type="text" id="service-price"/>
    </div>
    <input type="submit" value="Save" class="save-button" id="save-btn"/>
    <input type="submit" value="Cancel" class="save-button" id="cancel-btn"/>
</div>
<div class="services-management-wrapper">
    <section>
        <h1>List of Services</h1>
        <div class="tbl-header">
            <table>
                <thead>
                <tr>
                    <th th:text="#{services.name}"></th>
                    <th th:text="#{services.price}" class="th-price"></th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table>
                <tbody id="table-body" th:each="service : ${allServices}">
                <tr class="row" th:id="row+${service.getId()}" >
                    <td th:text="${service.getName()}" th:id="name+${service.getId()}" class="td-data"></td>
                    <td th:text="${service.getPrice()}" th:id="price+${service.getId()}" class="td-data"></td>
                    <td class="del-wrapper td-data">
                        <input type="submit" value="Edit" class="edit-button" th:id="${service.getId()}"/>
                        <input type="submit" value="Save" style="display: none" class="save-btn" th:id="save+${service.getId()}"/>
                    </td>
                    <td class="del-wrapper td-data">
                        <input type="submit" value="Delete" th:id="${service.getId()}" class="del-button"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
<script type="text/javascript" th:src="@{/scripts/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/scripts/main.js}"></script>
</body>
</html>