/*-----------------LOGIN PAGE STYLES-------------------*/
.login-body {
    background-color: white;
}

.error {
    color: red;
}

.logo-img {
    display: inline;
    width: 200px;
    height: 100px;
}

.page-title {
    display: inline;
    margin: 0 21%;
}

.login-form {
    width: 600px;
    background: rgba(0, 0, 0, 0.5);
    height: 300px;
    text-align: center;
    margin: 5% auto;
    border: 1px solid blue;
    border-radius: 10px;
    font-size: 20px;

}

.login-btn {
    background-color: blue;
    width: 70px;
    height: 30px;
    color: aliceblue;
    margin: 20px 40%;
}

.login-btn-container {
    text-align: center
}

.user-field {
    margin-left: 40px;
    margin-top: 30px;
    height: 25px;
    width: 200px;
    border: 1px solid blue;
    border-radius: 10px;
    padding-left: 5px;

}

.pass-field {
    margin-left: 8px;
    height: 25px;
    width: 200px;
    border: 1px solid blue;
    border-radius: 10px;
    padding-left: 5px;
}

/*-----------------ADMIN PAGE STYLES-------------------*/


.admin-h1 {
    display: inline;
    text-align: center;
}

h1 {
    display: inline;
    margin-left: 43%;
}

.logout-btn {
    display: inline;
    margin-left: 410px;
    width: 90px;
    height: 28px;
    cursor: pointer;
    background-color: aqua;
}

.admin-wrapper {
    display: table;
    width: 95%;
    height: auto;
    background-color: cadetblue;
    border: 1px solid blue;
    margin: 10px auto;
}

.link-holder {
    display: inline-block;
    width: 100px;
    height: 115px;
    float: right;
    margin-right: 5px;
    text-align: center;
    font-size: 20px;
}

.link-holder a {
    background-color: aqua;
    margin: 5px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
}

.add-customer-btn {
    font-size: 20px;
    width: 95%;
    height: 30px;
    margin: 5px 30px;
    background-color: red;
    cursor: pointer;
}

.services-text {
    width: 585px;
    margin-left: 44%;
    font-size: 30px;
    font-weight: 700;
}


.admin-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.option-nav {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 700;
}

.customer-options {
    display: inline-block;
    width: 550px;
    margin: 0 15px 20px 5px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.choice-customer {
    display: inline-block;
    float: left;
    margin: 10px 35px;
    width: 200px;
    height: 30px;
    padding-left: 5px;
    font-size: 15px;
}

.choice-car {
    display: inline-block;
    float: right;
    margin: 10px 35px;
    width: 200px;
    height: 30px;
    font-size: 15px;
}

.selected-services {
    position: absolute;
    display: inline-block;
    margin: 0 15px 20px 55px;
    width: 500px;
    height: 70px;
    max-height: 70px;
    overflow: auto;
    border: 1px solid black;
}

.send-pdf {
    float: right;
    margin-right: 5px;
    margin-top: 10px;
}

.admin-panel-price {
    float: right;
    width: 140px;
    font-size: 20px;
    text-align: center;
    margin-left: 120px;
}

.services-wrapper {
    position: relative;
    width: 99%;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
}

.service-icon {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 5px 0 5px 8px;
}


.service-button {
    background-color: rgba(255, 0, 0, 0.5);
    width: 100px;
    height: 100px;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}

.service-button:hover {
    background-color: rgba(234, 92, 55, 0.7);
    text-align: center;
}

.edit-service {
    margin: 1% 30px 5px 30px;
    font-size: 20px;
    width: 95%;
    height: 30px;
    background-color: salmon;
    position: relative;
    cursor: pointer;
    float: left;
}

.edit-customer {
    margin: 1% 30px 5px 30px;
    font-size: 20px;
    width: 95%;
    height: 30px;
    background-color: tomato;
    position: relative;
    cursor: pointer;
}

.addedService {
    font-size: 15px;
    cursor: pointer;
}

.selected-service {
    background-color: rgba(234, 92, 55, 0.7);
    cursor: not-allowed;
}

/*-----------------SERVICES MANAGEMENT PAGE STYLES-------------------*/

.ser-manag-back {
    display: inline-block;
    float: right;
    background-color: red;
    font-size: 25px;
    border: 1px solid black;
    width: 80px;
    text-align: center;
    color: black;
    text-decoration: none;
}
.tbl-header {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.4);
}

.tbl-content {
    width: 600px;
    height: 370px;
    overflow-x: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.4);
}

.row {
    display: table-row;
    background: rgba(0, 0, 0, 0.4);
}

.row:nth-of-type(odd) {
    background: rgba(0, 0, 0, 0.7);
}

th {
    padding: 15px 1px;
    width: 140px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

.td-data {
    padding: 5px 5%;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 15px;
    color: white;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.del-wrapper {
    padding: 0px;
    margin-left: 50px;
}

.del-button {
    background-color: rgba(255, 0, 0, 0.5);
    width: 100%;
    height: 47px;
    color: white;
}

.edit-button {
    background-color: rgba(3, 22, 255, 0.5);
    width: 100%;
    height: 47px;
    color: white;
}

.save-btn {
    background-color: rgba(3, 22, 255, 0.5);
    width: 100%;
    height: 47px;
    color: white;
}

.th-price {
    float: right;
}

.services-management-wrapper {
    width: 500px;
    height: 400px;
    margin: 0 auto;
}

.add-service-btn {
    margin: 0 auto;
    font-size: 20px;
    width: 200px;
    height: 30px;
    background-color: red;
    cursor: pointer;
}

.add-service-blank {
    margin: 0 auto;
    padding: 20px;
    width: 350px;
    height: 110px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
}

.add-service-field-name {
    margin: 10px;
    width: 225px;
    height: 20px;
}

.add-service-field-price {
    margin: 15px;
    width: 80px;
    height: 20px;
}

.save-button {
    float: right;
    height: 25px;
    margin: 0 7px;
}

.input-price {
    width: 60px;
}

.input-name {
    width: 100px;
}

/*-----------------HISTORY PAGE STYLES-------------------*/
.history-p {
    display: inline;
}
.history-holder {
    border: 3px solid black;
    width: 45%;
}

/*-----------------INDEX PAGE STYLES-------------------*/
.container {
    position: relative;
    width: 90%;
    height: auto;
    margin: 10px auto;
}
.nav-link {
    display: inline-block;
    margin-left: 20px;
    padding-top: 10px;
}

.index-head {
    color: black;
}